.buttonFiveOne {
    background-color: #FECE76;
    height: 450px;
    width: 450px;
    color: #FFF;
    border: none;
    display: block;
    margin: 8px auto;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px ;
    cursor: pointer;
}

.buttonFiveTwo {
    background-color: #FE4D9F;
    height: 450px;
    width: 450px;
    color: #FFF;
    border: none;
    display: block;
    margin: 8px auto;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px ;
    cursor: pointer;
}

.buttonFiveThree {
    background-color: #5A95CE;
    height: 450px;
    width: 450px;
    color: #FFF;
    border: none;
    display: block;
    margin: 8px auto;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px ;
    cursor: pointer;
}

.buttonFiveOne img{
    width: 210px;
    height: 210px;
}

.buttonFiveTwo img{
    width: 210px;
    height: 210px;
}

.buttonFiveThree img{
    width: 210px;
    height: 210px;
}
    
  
    .button:hover{
      background-color: #ec144a;
    }
    .modal-background {
      position: fixed;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #2564b68a;
    }
    
    .modal-card1, .modal-card2, .modal-card3, .modal-card4 {
      margin: 0 auto;
      display: block;
      margin-top: 150px;
      width: 500px;
      padding: 15px;
      text-align: justify;
      height: 500px;
      font-family: 'Poppins', sans-serif;
      background-color: #fff;
      border-radius: 5px;
    }
  
    h4{
    color: #F5003C;
    font-size: 28px;
    margin: 15px 0px 8px 0px;
    }

    h5{
        color: black;
        font-size: 20px;
    }
  
  
  .modal-card1 p, .modal-card2 p, .modal-card3 p, .modal-card4 p{
    margin: 15px 0px 10px 0px;
    font-size: 20px;
  }
  
  
  .ok5{
    background-color: #F5003C;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
  }
  
  .ok4:hover{
    background-color: #ec144a;
  }
  
  .modal-card3 .ok4{
    margin-top: 115px;
  }
  
  .modal-card4 .ok4{
    margin-top: 35px;
  }
  
  
  .fa-star {
    margin-left: 8px;
    margin-right: 8px;
      -webkit-animation: rotate-center 5s ease-in-out infinite both;
              animation: rotate-center 5s ease-in-out infinite both;
  }

  .seleccionado{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
  }

  .enviarYes{
    margin-top: 6%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    background-color: #5A95CE;
    color: #fff;
    font-weight: 600;
    padding: 14px 30px;
    letter-spacing: 3px;
    border: none;
    font-family: 'Poppins', sans-serif;
     font-size: 30px;
    text-decoration: none;
  }

  .abajo{
      height: 50px;
  }

  .abajo p{
    margin-top: 50px;
    font-family: 'Londrina Solid', cursive;
    font-size: 35px;
    text-align: center;
  }



  @media only screen and (max-width: 420px){
  
    .titleFour{
      text-align: justify;
      padding: 20px;
      font-size: 10px;
    }
  
    .imageFour img{
      margin-top: 10px;
      width: 300px;
    }
  
    .modal-background{
      height: 100%;
    }
  
    .options{
      margin-left: 10px;
      margin-right: 10px;
      align-items: center;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
    }
  
    .button{
      padding: 10px;
      font-size: 25px;
    }
  
    .modal-card1, .modal-card2, .modal-card3, .modal-card4 {
      margin-top: 50px;
      width: 300px;
      padding: 15px;
      height: 500px;
    }
    
    h4{
      font-size: 20px;
      margin: 11px 0px 5px 0px;
    }
  
    .modal-card1 p, .modal-card2 p, .modal-card3 p, .modal-card4 p{
      margin: 10px 0px 5px 0px;
      font-size: 15px;
    }

    .topp p{
      font-size: 18px;
      margin: 5px 10px;
      text-align: justify;
    }

    .body {
      padding-top: 10px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }

  .abajo {
    height: 20px;
}


.abajo p{
  font-size: 25px;
}
  .seleccionado{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 100px);
    align-items: center;
  }

  .buttonFiveOne {
    height: 200px;
    width: 200px;
    color: #FFF;
    border: none;
    display: block;
    margin: 3px auto;
    font-size: 35px;
    align-items: center;
}


.buttonFiveOne img {
  width: 180px;
  height: 180px;
}
.buttonFiveTwo {
  height: 200px;
    width: 200px;
    color: #FFF;
    border: none;
    display: block;
    margin: 3px auto;
    font-size: 35px;
    align-items: center;
}

.buttonFiveTwo img {
  width: 180px;
  height: 180px;
}

.buttonFiveThree {
  height: 200px;
  width: 200px;
  color: #FFF;
  border: none;
  display: block;
  margin: 3px auto;
  font-size: 35px;
  align-items: center;
}


.buttonFiveThree img {
  width: 180px;
  height: 180px;
}
  }
  
  @media only screen and (min-width:568px) and (max-width:768px){
    .titleFour{
      text-align: justify;
      padding: 10px;
      font-size: 8px;
    }
  
    .imageFour img{
      margin-top: 10px;
      width: 200px;
    }
  
    .modal-background{
      height: 100%;
    }
  
    .options{
      margin-top: 39px;
      margin-left: 10px;
      margin-right: 10px;
      align-items: center;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(1,1fr);
    }
  
    .button{
      padding: 10px;
      font-size: 20px;
    }
  
    .modal-card1, .modal-card2, .modal-card3, .modal-card4{
      margin-top: 20px;
      width: 600px;
      height: 300px;
    }
  
    h4{
      font-size: 20px;
      margin: 11px 0px 5px 0px;
    }
  
    .modal-card1 p, .modal-card2 p, .modal-card3 p, .modal-card4 p{
      margin: 10px 0px 5px 0px;
      font-size: 15px;
    }
  
    .modal-card3 .ok4{
      margin-top: 35px;
    }
    
    .modal-card4 .ok4{
      margin-top: 25px;
    }


    .topp p{
      font-size: 18px;
      margin: 5px 10px;
      text-align: justify;
    }

    .body {
      padding-top: 10px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }

  .abajo {
    height: 20px;
}


.abajo p{
  font-size: 25px;
}
  .seleccionado{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 100px);
    align-items: center;
  }

  .buttonFiveOne {
    height: 200px;
    width: 200px;
    color: #FFF;
    border: none;
    display: block;
    margin: 3px auto;
    font-size: 35px;
    align-items: center;
}


.buttonFiveOne img {
  width: 180px;
  height: 180px;
}
.buttonFiveTwo {
  height: 200px;
    width: 200px;
    color: #FFF;
    border: none;
    display: block;
    margin: 3px auto;
    font-size: 35px;
    align-items: center;
}

.buttonFiveTwo img {
  width: 180px;
  height: 180px;
}

.buttonFiveThree {
  height: 200px;
  width: 200px;
  color: #FFF;
  border: none;
  display: block;
  margin: 3px auto;
  font-size: 35px;
  align-items: center;
}


.buttonFiveThree img {
  width: 180px;
  height: 180px;
}
  }