
.topp{
    padding-right: 35px;
    font-size: 20px;
    text-align: center;
    font-family:'Poppins', sans-serif ;
    display: flex;
    justify-content: center;
}

.body{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


@media only screen and (max-width: 420px){
  
    
  
}
  
@media only screen and (min-width:568px) and (max-width:768px){
    
}