@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.circle{
display: flex;
}
.circuloAmarillo {
    left: 0px;
    top: -3px;
    position: absolute;
}

.circuloAzul {
    top: -5px;
    position: absolute;
    left: 0px;
}
.circuloRosa{
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.circuloGris{
    bottom: 0px;
    right: 0px;
    position: absolute;
}

  
.logo{
    margin: 65px 0 0 0;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 40%;
}

.cajaIngresar{
    display: flex;
    justify-content: center;
}

.ingresar{
    background-color: #5A95CE;
   display: flex;
   color: #fff;
   font-weight: 600;
   padding: 14px 30px;
   letter-spacing: 3px;
   border: none;
   font-family: 'Poppins', sans-serif;
    font-size: 30px;
   text-decoration: none;
}

.ingresar:hover{
    background-color: #3f5e81;
}

/* RESPONSIVE*/


@media only screen and (max-width: 420px){

    .circuloAmarillo img{
        width: 100px;
    }
    .circuloAzul img{
        width: 120px;
    }

    .circuloGris img{
        width: 150px;
    }
    .circuloRosa img{
        width: 100px;
    }

    .logo{
        margin-top: 45%;
    }

  .logo img{
      width: 300px;
  }

  .ingresar{
      margin-top: 30px;
    padding: 12px 20px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 568px)and (max-width:768px){
    .circuloAmarillo img{
        width: 50%;
    }

    .circuloAzul img{
        width: 50%;
    }

    .circuloGris img{
        width: 150px;
    }
    .circuloRosa img{
        width: 100px;
    }
    .logo{
        margin-top: 10px;
    }

  .logo img{
      width: 40%;
  }

  .ingresar{
      margin-top: 15px;
    padding: 10px 15px;
    font-size: 25px;
    font-weight: 300;
  }
}


@media only screen and (min-width: 769px)and (max-width:1024px){
    .circuloAmarillo img{
        width: 180px;
    }

    .circuloAzul img{
        width: 200px;
    }

    .circuloGris img{
        width: 200px;
    }
    .circuloRosa img{
        width: 130px;
    }
    .logo{
        margin-top: 10px;
    }

  .logo img{
      width: 35%;
  }

  .ingresar{
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 25px;
    font-weight: 300;
  }
}

