/*Fuente Londrina*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
/*font-family: 'Londrina Solid', cursive;*/


/*Fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Poppins:ital,wght@0,200;1,200&display=swap');
/*font-family: 'Poppins', sans-serif*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #8BE9F0;
}

.titleFour{
  font-size: 12px;
  padding: 30px;
  font-family: 'Poppins', sans-serif
}

.titleFour .fa-check{
  margin-left: 10px;
}

.imageFour{
  display: flex;
  justify-content: center;
}

.imageFour img{
  width: 580px;
}

.options{
  display: grid;
  margin-left: 250px;
  margin-right: 250px;
  align-items: center;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
}

.button {
  background-color: #F5003C;
  color: #FFF;
  border: none;
    display: block;
    margin: 8px auto;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px ;
    cursor: pointer;
  }
  

  .button:hover{
    background-color: #ec144a;
  }
  .modal-background {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2564b68a;
  }
  
  .modal-card1, .modal-card2, .modal-card3, .modal-card4 {
    margin: 0 auto;
    display: block;
    margin-top: 150px;
    width: 500px;
    padding: 15px;
    text-align: justify;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border-radius: 5px;
  }

  h4{
  color: #F5003C;
  font-size: 28px;
  margin: 15px 0px 8px 0px;
  }


.modal-card1 p, .modal-card2 p, .modal-card3 p, .modal-card4 p{
  margin: 15px 0px 10px 0px;
  font-size: 20px;
}


.ok4{
  background-color: #F5003C;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
}

.ok4:hover{
  background-color: #ec144a;
}

.modal-card3 .ok4{
  margin-top: 115px;
}

.modal-card4 .ok4{
  margin-top: 35px;
}


.fa-star {
  margin-left: 8px;
  margin-right: 8px;
	-webkit-animation: rotate-center 5s ease-in-out infinite both;
	        animation: rotate-center 5s ease-in-out infinite both;
}

.subtitule{
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
  padding: 35px;
  font-family: 'Poppins', sans-serif
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@media (max-width:420px){
  .titleFour{
    text-align: justify;
    padding: 20px;
    font-size: 10px;
  }

  .imageFour img{
    margin-top: 10px;
    width: 300px;
  }

  .modal-background{
    height: 100%;
  }

  .options{
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .button{
    padding: 10px;
    font-size: 25px;
  }

  .modal-card1, .modal-card2, .modal-card3, .modal-card4{
    margin-top: 50px;
    width: 300px;
    padding: 15px;
    height: 500px;
  }

  h4{
    font-size: 20px;
    margin: 11px 0px 5px 0px;
  }

  .modal-card1 p, .modal-card2 p, .modal-card3 p, .modal-card4 p{
    margin: 10px 0px 5px 0px;
    font-size: 15px;
  }


  
}

@media (min-width:568px) and (max-width:768px){
  .titleFour{
    text-align: justify;
    padding: 10px;
    font-size: 8px;
  }

  .imageFour img{
    margin-top: 10px;
    width: 200px;
  }

  .modal-background{
    height: 100%;
  }

  .options{
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
  }

  .button{
    padding: 10px;
    font-size: 20px;
  }

  .modal-card1, .modal-card2, .modal-card3, .modal-card4{
    margin-top: 20px;
    width: 600px;
    height: 300px;
  }

  h4{
    font-size: 20px;
    margin: 11px 0px 5px 0px;
  }

  .modal-card1 p, .modal-card2 p, .modal-card3 p, .modal-card4 p{
    margin: 10px 0px 5px 0px;
    font-size: 15px;
  }


  .modal-card3 .ok4{
    margin-top: 35px;
  }
  
  .modal-card4 .ok4{
    margin-top: 25px;
  }
}