/*Fuente Londrina*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
/*font-family: 'Londrina Solid', cursive;*/


/*Fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Poppins:ital,wght@0,200;1,200&display=swap');
/*font-family: 'Poppins', sans-serif*/

.up{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    background-color: #fff;
    height: 90px;
}

.log{
    margin-top: 10px;
    margin-left: 90px;
    width: 180px;
}

.casa, .corazon, .salir{
    margin-left: 95px;
}

.casa img{
    width: 50px;
}

.corazon img{
    width: 50px;
}

.salir img{
    width: 50px;
}

.up p{
  font-weight: 900;
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-left: 8px;
}

@media (max-width:420px){

    .up{
        height: auto;
    }

    .log{
        margin-top: 10px;
        margin-left: 0px;
        width: 100px;
    }
    
    .casa img{
        margin-left: 8px;
        margin-top: 5px;
        width: 25px;
    }
    
    .corazon img{
        margin-left: 8px;
        width: 25px;
    }
    
    .salir img{
        margin-left: 5px;
        width: 25px;
    }

    .casa, .corazon, .salir{
        margin-left: 30px;
    }
    .up p{
        color: black;
        font-size: 12px;
        margin-left: 4px;
        margin-bottom: 20px;
      }
    
}

@media (min-width:568px) and (max-width:768px) {

    
    .up{
        height: auto;
    }

    .log{
        margin-top: 10px;
        margin-left: 0px;
        width: 100px;
    }
    
    .casa img{
        margin-left: 8px;
        margin-top: 5px;
        width: 25px;
    }
    
    .corazon img{
        margin-left: 8px;
        width: 25px;
    }
    
    .salir img{
        margin-left: 5px;
        width: 25px;
    }

    .casa, .corazon, .salir{
        margin-left: 30px;
    }
    .up p{
        color: black;
        font-size: 13px;
        margin-left: 4px;
        margin-bottom: 20px;
      }
    
}

