/*Fuente Londrina*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
/*font-family: 'Londrina Solid', cursive;*/


/*Fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Poppins:ital,wght@0,200;1,200&display=swap');
/*font-family: 'Poppins', sans-serif*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.container{
    width: 100%;
    height: 100%;
    background-color: #8BE9F0;
}

.title_Two{
    padding: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.boxTwo{
    padding: 35px;
    font-family: 'Poppins', sans-serif;
    display: flex;
   justify-content: center;
    align-items: center;
}

.boxTwo ol{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    align-items: center;
    margin: 20px;
    row-gap: 30px;
    column-gap: 250px;
}

.list{
    font-size: 20px;
    border: none;
    padding: 3px;
    
    font-weight: 600px;
    resize: none;
    outline: none;
    
}

.list input{
    padding: 8px;
    resize: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}


.enviarTwo{
    display:flex;
    margin: 3px 55px 0px 0px;
    justify-content: center;
}

.sendTwo{
    display: flex;
    margin: 10px 5px;
    padding: 10px;
    right: 3px;
    justify-content: center;
    background-color: #5A95CE;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 3px;
    border: none;
}


.sendTwo:hover{
    background-color: rgb(57, 112, 163);
}



@media (max-width:420px){
    
    .title_Two{
        padding: 25px;
        font-size: 10px;
        text-align: justify;
    }

    .boxTwo ol{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(10,1fr);
        align-items: center;
        margin: 20px;
        row-gap: 30px;
        column-gap: 250px;
    }
    
 }
   

@media (min-width:568px) and (max-width:768px) {

    .title_Two{
        padding: 15px;
        font-size: 10px;
        text-align: justify;
    }

    .boxTwo ol{
        column-gap: 50px;
    }
}
