@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-image: url("../../utils/images/Frases/retosFondo.png");
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
}

.titleFrase{
    font-family: 'Fredoka One', cursive;
    color: #510A0D;
    text-shadow: rgba(0, 0, 0, 0,25);
    font-size: 52px;
    margin:20px 45px;
}

.cardFrase{
    display:flex;
    flex-direction: column;
    background: rgba(250, 240, 206, 0.8);
    margin: 90px;
    border-radius: 50px;
    width: 90%;
    padding: 15px;

}

.boxText{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin:35px 58px;
}

.fa-caret-left{
   font-size: 80px;
   position: absolute;
   color: black;
   bottom: 100px;
   margin: 25px;
}

.ok{
background-color: #5A95CE;
  position: absolute;
   color: #000;
   text-align: center;
   bottom: 100px;
   margin: 25px;
   right: 150px;
   padding: 10px 25px;
   border: none;
   border-radius: 5px;
   font-family: 'Poppins', sans-serif;
    font-size: 20px;
   text-decoration: none;
   cursor: pointer;
}


@media only screen and (max-width: 420px){

    .titleFrase{
        font-size:  35px;
        text-align: center;
        margin: 20px 30px;
    }

    .boxText{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .cardFrase{
        margin:20px;
        height: 570px;
        background: rgba(250, 240, 206, 0.8);
        border-radius: 50px;
<<<<<<< HEAD
        height: 90%;
    
=======

>>>>>>> 6c5da9e2959ab254992242fc3d2a263c46248516
    }

    .contenedor{
        background-image: url("../../utils/images/Frases/celuvertical.jpg");
        background-size: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
    }

    .boxText{
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-align: left;
        margin:25px 28px;
    }

    .ok{
        bottom: 45px;
        right: 35px;
        font-weight: 600;
        font-size: 10px;
        font-size: 20px;
        }

    .ok:hover{
        background-color: #719dc7;
    }


    .fa-caret-left{
        font-size: 55px;
        bottom: 45px;
         }
}

@media only screen and (min-width:568px) and (max-width:768px){
    .titleFrase{
        font-size:35px;
        text-align: center;
        margin: 20px 30px;
    }

    .boxText{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .cardFrase{
        margin:30px;
        height: 310px;
        background: rgba(250, 240, 206, 0.8);
        border-radius: 50px;
    }

    .boxText{
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-align: left;
        margin:25px 28px;
    }

    .ok{
        bottom: 30px;
        right: 35px;
        font-weight: 600;
        font-size: 10px;
        font-size: 20px;
        }

    .ok:hover{
        background-color: #719dc7;
    }


    .fa-caret-left{
        font-size: 55px;
        bottom: 30px;
         }

     .contenedor{
        background-image: url("../../utils/images/Frases/celuhorizontal.jpg");
        background-size: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
    }
}