gotn
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-image: url("../../utils/images/Frases/retosFondo.png");
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}