
@media (max-width:420px){


    .contentCards .card{
        width: 0px;
    }

    .top{
        display: grid;
       grid-template-columns: repeat(2,100px);
       grid-template-rows: repeat(2,1fr);
        margin-left: 15px;
        column-gap: 5px;
    }

   .log{
        height: 20px;
   }

    .titulo{
        margin-left: 10px;
        text-align: center;
        font-family: 'Londrina Solid', cursive;
        font-size: 32px;
    }
    .back img{
        width: 30px;
        height: 30px;
        display: flex;
       margin-left: 40px;
    }
    .space{
        margin-left: 0px;
        display: flex;
        align-items: center;
        width: 150px;
        margin-bottom: 50px;
    }

    .retos{
        margin-left: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 350px;
        width: 100%;
    }

    .retos_dos{
        grid-template-columns: repeat(1,1fr);
        justify-content: flex-start;
        
    }

    .Jueves{
        margin-left: 0px;
    }

    .contentCards {
        margin-top: 0;
        margin: 0;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 550px);
        row-gap: 120px;
        align-items: center;
        margin-bottom: 8%;
    }
    
    .containerProductos{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .card{
     margin-top: 0px;
     margin-left: 15%
    }
    
    
    .contentCards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 380px;
        margin-top: 0px;
        margin-left: 30px;
    }
    
    .contentCards .card{
        margin-top: 0px;
        height: auto;
        flex-direction: column;
        background: transparent;
        box-shadow: none;
        margin-left: 35px;
    }
    
    .contentCards .card .imgBx{
        left: 65px;
        margin-top: 25%;
        position: relative;
    }
    
    .contentCards .card .imgBx img {
        max-width: 50px;
        transition: 0.5s ease-in-out;
    } 
    
    .contentCards .card .imgBx, 
    .contentCards .card:hover .imgBx{
         width:100px;
        height: 100px;
        top: 80px;
        margin-left: 25px;
    }
    
    .contentCards .card:hover .imgBx{
        top: 80px;
    }
    
    .card .imgBx img ,
    .card:hover .imgBx img{
         max-width:90px;
    }
    
    .contentCards .card .content{
        position: relative;
        width: 200px;
        background: #ffff;
        box-shadow: none;
        border-radius: 20px;
        padding: 20px 20px 40px;
        border-top: 100px solid white;
    }
    
    .content li{
        font-size: 10px;
    }
    
    .contentCards .card .content h3{
       display: flex;
       justify-content: center;
       text-align: center;
        margin-bottom: 5px;
        font-size: 25px;
    }
    
    .contentCards .card .content a{
        margin-top: 2px;
        margin-bottom: 5px;
        font-size: 12px;
    }
     
    }



@media only screen and (min-width:568px) and (max-width:768px){

    .contentCards .card{
        width: 0px;
    }

    
    .top{
        margin-left: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    
    }

    .titulo{
        margin-left: 10px;
        text-align: center;
        font-family: 'Londrina Solid', cursive;
        font-size: 32px;
    }
    
    .back img{
        width: 30px;
        height: 30px;
        display: flex;
       margin-left: 120px;
    }


    .titulo{
        margin-left: 25px;
        margin-top: 0px;
        font-family: 'Londrina Solid', cursive;
        font-size: 30px;
    }
    
    .space{
        margin-left: 0px;
        display: flex;
        align-items: center;
        width: 150px;
        margin-bottom: 50px;
    }

    .retos{
        margin-left: 0px;
        grid-template-columns: repeat(3,1fr);
        column-gap: 5px;
    }

    .retos_dos{
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
    }

    .contentCards {
        margin-top: 0;
        margin: 0;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: 120px;
        align-items: center;
        margin-bottom: 8%;
    }
    
    .containerProductos{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .card{
     margin-top: 5%;
    }
    
    
    .contentCards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
        margin-top: 0px;
        margin-left: 0px;
        top: 55px;
    }
    
    .contentCards .card{
    
        height: auto;
        flex-direction: column;
        background: transparent;
        box-shadow: none;
        margin: 18%;
    }

   
    
    .contentCards .card .imgBx{
        left: 65px;
        margin-top: 25%;
        position: relative;
    }
    
    .contentCards .card .imgBx img {
        max-width: 70px;
        transition: 0.5s ease-in-out;
    } 
    
    .contentCards .card .imgBx, 
    .contentCards .card:hover .imgBx{
         width:100px;
        height: 100px;
        top: 80px;
    }
    
    .contentCards .card:hover .imgBx{
        top: 80px;
    }
    
    .card .imgBx img ,
    .card:hover .imgBx img{
         max-width:80px;
    }
    
    .contentCards .card .content{
        position: relative;
        width:150px;
        background: #ffff;
        box-shadow: none;
        border-radius: 20px;
        padding: 20px 20px 40px;
        border-top: 100px solid white;
    }
    
    .content li{
        font-size: 10px;
    }
    
    .contentCards .card .content h3{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 5px;
        font-size: 20px;
    }
    
    .contentCards .card .content a{
        margin-top: 2px;
        margin-bottom: 5px;
        margin-right: 25px;
        font-size: 12px;
    }

    .regresar_lunes{
        padding: 10px;
        font-size: 15px;
     }


    .Jueves{
        margin-left: 0px;
    }
}